py_stringmatching==0.4.1
editdistance==0.5.3
lightgbm==2.3.1
Unidecode==1.1.1
scipy==1.2.1
tqdm==4.31.1
xgboost==0.90
numpy==1.16.2
similaripy==0.1.1
tensorflow_gpu==2.0.0
pandas==0.24.1
matplotlib==3.0.3
psutil==5.6.7
ray==0.8.0
scikit_learn==0.22.1
tensorflow==2.6.4
